{% extends 'base.html' %}

{% block title %}{{ site_name }}{% endblock %}

{% block content %}
    <h1>{{ post.title }}</h1></br>
    <a href="{% url 'fastblog:edit' pk=post.id %}">Edit FastBlog Post</a></br>
    <a href="{% url 'fastblog:delete' pk=post.id %}">Delete FastBlog Post</a></br>
    <img src="{% if post.image %}{{ post.image.url }}{% else %}http://placehold.it/300x200{% endif %}" alt="{{ post.title }}">
    <p>{{ post.content }}</p>

    <h4>Comments ({{ post.comment_set.count }})</h4>
    <ul>
        {% for comment in post.comment_set.all %}
        <li id="{{ comment.id }}">
            {{ comment.content }} 
        </li>
        {% endfor %}
    </ul>

    <h4>Write a comment</h4>
    <form action="{% url 'fastblog:postcommentcreate' pk=post.id %}" method="POST">
        {% csrf_token %}
        <input type="text" name="content" placeholder="comment">
        <input type="submit">
    </form>
{% endblock %}
