{% extends 'base.html' %}

{% block title %}{{ site_name }}{% endblock %}

{% block content %}
<h1>{{ request.user.username }}</h1>
<a href="{% url 'fastblog:create' %}">Create FastBlog Post</a>
<h3>My FastBlog Posts</h3>
<ul>
    {% for post in request.user.post_set.all %}
    <li>
        <a href="{% url 'fastblog:detail' pk=post.id %}">{{ post.title }}</a>
    </li>
    {% endfor %}
</ul>

<h3>My Comments</h3>
<ul>
    {% for comment in request.user.comment_set.all %}
    <li>
        <a href="{% url 'fastblog:detail' pk=comment.post.id %}">{{ comment.content }}</a>
    </li>
    {% endfor %}
</ul>

<h3>My BitLinks</h3>
<ul>
    {% for bitlink in request.user.bitlink_set.all %}
    <li>
    <a href="{{ bitlink.get_absolute_url }}">localhost:8000/bitly/{{ bitlink.shorten_hash }} - created on {{ bitlink.created_at }}</a>
    </li>
    {% endfor %}
</ul>

{% endblock %}
